.background-image{
    margin: 30px;
    background-image: url("/public/assets/backgrounds/Background+Border-about.png");
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 20px;
}